@media screen and (min-width:1200px) {
    .video_a iframe {
        width: 100%;
        min-height: 280px;
    }
}
@media screen and (max-width:423px) {
    .video_a iframe {
        width: 100%;
        min-height: 235px;
    }
}
@media screen and (max-width:576px) {
    .video_a iframe {
        width: 100%;
        min-height: 375px;
    }
}