@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
ul,li{
    margin: 0;
    padding:0 ;
    list-style: none;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main_header {
    box-shadow: 0 10px 80px 0.1px #bdbdbd3b;
    border-bottom: 1px solid #033755;
    background: linear-gradient(58deg, #03192a , #039be5);
    
}

#section_a {
    padding: 90px 0;
}
.banner_text h1 {
    font-size: clamp(1.2rem, 5vw,1.9rem);
    text-transform: capitalize;
    line-height: 1.6;
    font-weight: 700;
    color: #01963e;
}

.banner_text p {
    font-size: clamp(0.6rem,5vw, 1rem);
    line-height: 1.6;
    color: #000000a3;
}
.video_aif video {
    width: 100%;
}
.click_on {
    border: 0;
    outline: 0;
    width: 100%;
    max-width: 180px;
    height: 55px;
    border-radius: 20px 0 20px 0;
    font-size: 16px;
    text-transform: capitalize;
    background: #ffffff;
    color: #033755;
    box-shadow: 0 0 87px 0.1px #80808026;
    transition: 300ms all ease-in;
    MARGIN-TOP: 25px;
    font-weight: 600;
}
.click_on:hover{
    /* border-radius: 0 20px 0 20px ; */
    background: linear-gradient(58deg, #039be5, #03192a);
    color: white;
}

.foot_text h4 {
    font-size: clamp(0.5rem,5vw,0.8rem);
    text-align: center;
 color: white;
 font-weight: 500;

}

.foot{
    background: linear-gradient(58deg, #03192a , #039be5);
    
    padding: 1rem 0;
}
#section_b {
    background: rgb(241 241 241 / 75%);
}


.form_text h2 {
    color: #01963e;
    font-size: clamp(1rem, 5vw,2.2rem);
    text-transform: capitalize;
    line-height: 1.6;
    font-weight: 500;}

    .video_a iframe {
        width: 100%;
        min-height: auto;
    }
.celebrat_video {
    width: 100%;
    box-shadow: 0 0 90px 0.1px #9c9c9c2b;
    padding: 1.5rem;
    background: white;
    border-radius: 3px;
}
.celebrat_video h3 {
    font-size: clamp(1rem,5vw,1.5rem);
    text-align: center;
    margin-top: 30px;
}
.main_header img {
    width: 100%;
    max-width: 130px;
}
.banner_text a {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
    display: block;
    color: red;
}
.footer_img img {
    width: 100%;
    max-width: 100px;
}
.benefits li {
margin-bottom: 10px;
font-size: 14px;

}
.last_foot {
    background: #f1f1f1;
    padding: 10px 0;
   
}
.last_foot h4 {
    color: #03192a;
    margin: 0;
    
}

.form_text p {
    max-width: 630px;
    text-align: center;
    margin: auto;
    line-height: 2.1;
color: #000000a3;
}
h6{
    margin: 0;
}

.video_aif {
    text-align: center;
}


.video_aif iframe{
    width: 100%;
}


.sumbit_btn {
    background: #80808030;
    color: #4caf50;
    font-size: 14px;
    padding: 0.8rem;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sumbit_btn2 {
    background: #ff8a8a40;
    color: red;
    font-size: 14px;
    padding: 0.8rem;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
}
.modal-header {
    border: 0;
    
}
.modal-body{
    top: 22px;
    max-width: 320px;
    margin: auto;
    font-size: 20px;
}
.modal-content{
    min-height: 310px;
    background:white;
    border: 0;
    outline: 0;
  border-radius: 15px;
  color: #01963e;
}
.last_foot h4 {
    color: #03192a;
    margin: 0;
    font-size: clamp(0.5rem,5vw,0.7rem);
    line-height: 1.5;
}


.modal-body.success_msg img {
    max-width: 90px;
    margin-bottom: 30px;
}

/*STARAT-AIF_FORM */



#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Montserrat", sans-serif;
}


#contact {
    background: white;
    padding: 2.5rem;
    box-shadow:0 0 87px 0.9px #dddddd47;
    max-width: 530px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}


fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"]
 {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 40px;
  height: 50px;
  margin-bottom: 15px;
}

#contact .button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px 0 10px 0;
  height: 40px;
}

#contact .button[type="submit"]:hover {
  background: #43A047;
}

#contact .button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}



#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}


.form_Aif h2 {
    color: #01963e;
    font-size: clamp(1rem, 5vw,2.2rem);
    text-transform: capitalize;
    line-height: 1.6;
    font-weight: 500;
}

.form_Aif label {
    font-size: clamp(0.4rem,5vw,0.8rem);
    color: #4caf50;
}
/*END-AIF_FORM */

